@{
    Layout = "_Layout";
}

<script>
$(document).ready(function (){
  let table = new DataTable('#example');
})
</script>

<h1>Dashboard</h1>
<br>

<table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011-04-25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011-07-25</td>
                <td>$170,750</td>
            </tr>
        <tr>
            <td>Ashton Cox</td>
            <td>Junior Technical Author</td>
            <td>San Francisco</td>
            <td>66</td>
            <td>2009-01-12</td>
            <td>$86,000</td>
        </tr>
        </tbody>
                
    </table>



@* burası admin sayfasının başlangıcı olacak ben sadece sitelere yönlerndirmek için link ekledim 
<h1>EPIC SİTESİ</h1>
<a href="@Url.Action("Epic", "PhishingSites")">Epic sitesine gider</a>
<h1>GOOGLESITESİ</h1>
<a href="@Url.Action("Google", "PhishingSites")">Google sitesine gider</a>
<h1>NETFLİX SİTESİ</h1>
<a href="@Url.Action("Netflix", "PhishingSites")">Netflix sitesine gider</a>
*@

