@model List<UserModel>

@{
    Layout = "_Layout";
}

<h1>Send Email</h1>
<br>

<select class="form-select" aria-label="Default select example">
    <option selected>Choose a template.</option>
    
        <option value="1">Template 1</option>
    
</select>
<br>

<h6>Select e-mail addresses.</h6>


<form method="post">

    <div id="emailaddress">

        <div class="input-group mb-3">
            
            <!-- <input type="text" class="form-control" placeholder="Email address" name="emails[]" aria-label="Example text with button addon" aria-describedby="button-addon1"> -->
            <select class="form-select" aria-label="Default">
                <option selected>Choose email</option>
                @foreach (var item in Model)
                {
                    <option value="1">@item.user_email</option>
                }
            </select>

            <button class="btn btn-danger delete" type="button">Delete</button>
        </div>
</div>
    <button class="btn btn-primary" type="button" id="button-add">Add</button>
    
    <div class="d-flex justify-content-end">
        <button class="btn btn-secondary" type="submit">Send</button>
    </div>
</form>




<script >
$(document).ready(() => {
    $("#button-add").click(() => {
    $("#emailaddress").append(`<div class="input-group mb-3">
                               <input type="text" class="form-control" placeholder="Email address" name="emails[]" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                <button class="btn btn-danger delete" type="button">Delete</button>
                               </div>`)
    })
    
    
    $("#emailaddress").on("click",".delete",(e) => {
    $(e.target).closest(".input-group").remove()
    console.log(e.target)
    }) 
})
</script>