@model SendEmailViewModel
@{
    Layout = "_Layout";
}

<form method="post" asp-controller="Home" asp-action="SendEmail">

    <h1>Send Email</h1>
    <br>
    
    <select name="template_id" class="form-select" aria-label="Default select example">
        <option selected>Choose a template.</option>
        @foreach (var item in Model.EmailTemplates)
        {
            <option value="@item.et_id">@item.template_name</option>
        }
    </select>
    <br>
    
    <h6>Select e-mail addresses.</h6>
    
    <div id="emailaddress">

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Email address" name="emails[]" aria-label="Example text with button addon" aria-describedby="button-addon1">
            
            <button class="btn btn-danger delete" type="button">Delete</button>
        </div>
</div>
    <button class="btn btn-primary" type="button" id="button-add">Add</button>
    
    <div class="d-flex justify-content-end">
        <button class="btn btn-secondary" type="submit">Send</button>
    </div>
</form>

<script >
$(document).ready(() => {
    $("#button-add").click(() => {
    $("#emailaddress").append(`<div class="input-group mb-3">
                                           <input type="text" class="form-control" placeholder="Email address" name="emails[]" aria-label="Example text with button addon" aria-describedby="button-addon1">
                                <button class="btn btn-danger delete" type="button">Delete</button>
                               </div>`)
    })
    
    $("#emailaddress").on("click",".delete",(e) => {
    $(e.target).closest(".input-group").remove()
    console.log(e.target)
    }) 
})
</script>