*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

main{
    flex: 1;
    padding: 30px;
    
}

body{
   
    height: 100vh;
    padding-left: 250px;
}

aside{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
    background-color: #222;
    position: fixed;
    min-height: 100%;
    top: 0;
    left: 0;
}

aside h1 a{
    display: flex;
    color: white;
    font-size: 25px;
    padding: 20px;
    margin: 0;
    background-color: #333333;
    
}

aside section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
}

aside section a{
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}

aside section a i{
    font-size: 22px;
}

aside section a:hover{
    color: wheat;
}

